<!-- <p>pagina-gerente works!</p>
<ul class="navbar-nav ml-auto">
  <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
      <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
  </ng-container>
  <ng-template #loggedIn>
      <li class="nav-item">
          <a class="nav-link" (click)="authService.logout()">Logout</a>
      </li>
      <a (click)="obtenerId()" class="Referencia1"> <div class="Cuadrado2">Asignar Especialista</div> </a>
  </ng-template>
</ul> -->


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pagina-gerente.component.css" />
    <!-- Boxicons CSS -->
    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="script.js" defer></script>
</head>

<body>
    <nav class="sidebar locked">
        <div class="logo_items flex">
            <span class="nav_image">
                <img src="http://imgfz.com/i/oNLzFBD.png" alt="logo_img" />
            </span>
            <span class="logo_name">Seguricom</span>
            <i class="bx bx-x" id="sidebar-close"></i>
        </div>
        <div class="menu_container">
            <div class="menu_items">
                <ul class="menu_item">
                    <li class="item">
                        <a href="#" class="link flex">
                            <i class="bx bx-user"></i>
                            <a>Asignar Especialista</a>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link flex">
                            <i class="bx bx-package"></i>
                            <a>Generar Seguimiento Producto</a>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link flex">
                            <i class="bx bx-detail"></i>
                            <a>Generar Reporte</a>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar_profile flex">
                <i class="bx bx-door-open" style="font-size: 30px;"></i>
                
                <div class="data_text">
                    <a class="name" (click)="authService.logout()"><b>Log Out</b></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->


</body>