<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>
    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">
  
                <div class="header">
                    <h1 class="header-title">
                        Bienvenido! Solicite estudio para comenzar
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                            <li class="breadcrumb-item"><a>Usuarios</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Listado de Usuario</h5>
       
                                <a [routerLink]="['/usuarios/registrar']"  class="btn btn-primary">+ Nuevo Usuario</a>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody >                                 
                                        <td>
                                            a
                                        </td>
                                        <td>b</td>
                                        <td>c</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn mb-1 btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">Editar registro</a>
                                                    <!--<a class="dropdown-item" (click)="eliminar(item._id)" type="button"
                                                    >Eliminar Registro</a>-->
                                                    <!--<a class="dropdown-item" (click)="eliminar(item._id)">Eliminar registro</a>
                                                    -->
                                                </div>
                                            </div>
                                        </td>  
                                        
                          
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
                </div>
  
  
  
               
            </div>
        </main>
       
    </div>
  </div>
<!-- <p>pagina-cliente works!</p>
<ul class="navbar-nav ml-auto">
  <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
      <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
  </ng-container>
  <ng-template #loggedIn>
      <li class="nav-item">
          <a class="nav-link" (click)="authService.logout()">Logout</a>
      </li>
      <a (click)="obtenerId()" class="Referencia1"> <div class="Cuadrado2">¡Solicitar Cita!</div> </a>
  </ng-template>
</ul> -->

<!-- NATALIA CAMBIO
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pagina-cliente.component.css" />

    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="script.js" defer></script>
</head>

<body>
    <nav class="sidebar locked">
        <div class="logo_items flex">
            <span class="nav_image">
                <img src="http://imgfz.com/i/oNLzFBD.png" alt="logo_img" />
            </span>
            <span class="logo_name">Seguricom</span>
            <i class="bx bx-x" id="sidebar-close"></i>
        </div>
        <div class="menu_container">
            <div class="menu_items">
                <ul class="menu_item">
                    <li class="item">
                        <a href="#" class="link flex">
                            <i class="bx bx-home"></i>
                            <a>Solicitar Cita</a>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link flex">
                            <i class="bx bx-add-to-queue"></i>
                            <a>Registrar Venta</a>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link flex">
                            <i class="bx bx-package"></i>
                            <a>Seguimiento Producto</a>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="sidebar_profile flex">
                <i class="bx bx-door-open" style="font-size: 30px;"></i>
                
                <div class="data_text">
                    <a class="name" (click)="authService.logout()"><b>Log Out</b></a>
                </div>
            </div>
        </div>
    </nav>
 


</body>
-->