<p>pagina-cliente works!</p>
<ul class="navbar-nav ml-auto">
  <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
      <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
  </ng-container>
  <ng-template #loggedIn>
      <li class="nav-item">
          <a class="nav-link" (click)="authService.logout()">Logout</a>
      </li>
      <a (click)="obtenerId()" class="Referencia1"> <div class="Cuadrado2">¡Solicitar Cita!</div> </a>
  </ng-template>
</ul>
