<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


<head>
  <div class="encabezado">
    <ul class="navbar1">
      <li><a href="https://www.facebook.com/seguricom.srl" class="a5"><i class='bx bxl-facebook-circle'></i>SeguricomSRL</a></li>
    </ul>
    <ul class="navbar2">
      <li class="a5"><i class='bx bxs-map'></i>Av. Pedro Silva Nro. 319 Urb. San Juan (Zona B) Lima - Lima - San Juan De Miraflores</li>
      <li class="a5"><i class='bx bxs-envelope'></i>Seguricomsrl@gmail.com</li>
      <li class="a5"><i class='bx bxs-phone'></i>999715894</li>
    </ul>
  </div>
  <a href=''><img src="http://imgfz.com/i/SpO9agn.png" class="Imagen"></a>

  <ul class="navbar">
    <li><a href="/Servicios" class="a1"><i class="bx bxs-cog"></i>Servicios</a></li>
    <!-- <li><a href="/Precios" class="a2"><i class="bx bxs-dollar-circle"></i>Precios</a></li> -->
    <li><a href="/Sobre_Nosotros" class="a3"><i class="bx bxs-home"></i>Nosotros</a></li>
    <li><a href="/Contacto" class="a4"><i class="bx bxs-phone"></i>Contacto</a></li>
  </ul>

  <div class="main">
    <button class="iniciar-sesion-btn">
      <a href="/Iniciar_Sesion"> Iniciar Sesion</a>
    </button>

    <button class="registrarse-btn">
      <a href="/Crear_Usuario"> Registrarse</a>
    </button>
  </div>


</head>
<body>
  <div class="horarios">
    <div class="barra"></div>
    <p>Horario de Atención: Lunes - Viernes: 8:30am - 6:30pm | Sábados y Domingos: 9am - 2pm</p>
  </div>
</body>




