<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <header>
      <header class="encabezado">
        <ul class="navbar1">
          <li><a href="https://www.facebook.com/seguricom.srl" class="a5"><i class='bx bxl-facebook-circle' ></i>SeguricomSRL</a></li>
        </ul>
        <ul class="navbar2">
          <li class="a5"><i class='bx bx-current-location'></i>Av. Pedro Silva Nro. 319 Urb. San Juan (Zona B) Lima - Lima - San Juan De Miraflores</li>
          <li class="a5"><i class='bx bx-message-alt' ></i>Seguricomsrl@gmail.com</li>
          <li class="a5"><i class='bx bx-phone' ></i>999715894</li>
        </ul>
      </header>
      <a href=''><img src="../../../assets/LOGO_Seguricom.PNG" class="Imagen"></a>

        <ul class="navbar">
            <li><a href="/Servicios" class="a1"><i class="ri-tools-fill"></i>Servicios</a></li>
            <li><a href="/Precios" class="a2"><i class="ri-money-dollar-circle-line"></i>Precios</a></li>
            <li><a href="/Sobre_Nosotros" class="a3"><i class="ri-ancient-gate-line"></i>Sobre Nosotros</a></li>
            <li><a href="/Contacto" class="a4"><i class="ri-customer-service-line"></i>Contacto</a></li>
        </ul>

        <div class="main">
            <a href="/Iniciar_Sesion" class="user"><i class="ri-shield-user-line"></i>Iniciar Sesion</a>
            <a href="/Crear_Usuario" class="user-reg"><i class='bx bx-message-alt' ></i>Crear Cuenta</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
