<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

<header>
  <div class="main">
    <button class="iniciar-sesion-btn">
      <a href="/Iniciar_Sesion"> Iniciar Sesion</a>
    </button>

    <button class="registrarse-btn">
      <a href="/Crear_Usuario"> Registrarse</a>
    </button>
</div>
</header>
<body>
  <div class="horarios">
    <div class="barra"></div>
    <p>Horario de Atención: Lunes - Viernes: 8:30am - 6:30pm | Sábados y Domingos: 9am - 2pm</p>
  </div>
</body>




