<div class= "container mt-4">
  <span class="h3">GERENTE ASIGNAR ESPECIALISTA</span>
  <div class="card">
    <div class="card-body">
      <span class="h4">Clientes pendientes de Estudio Presencial</span>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Celular</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Álvaro Fernandez</th>
            <td>XXXXXXXX</td>
            <td>999222333</td>
            <td>Empresa</td>
            <td>
              <i class="fa-sharp fa-solid fa-circle-plus"routerLink="/"></i>
              <i class="fa-solid fa-eye" routerLink="/"></i>
            </td>
          </tr>
          <tr>
            <th>Frank Ayala</th>
            <td>XXXXXXXX</td>
            <td>999222444</td>
            <td>Empresa</td>
            <td><i class="fa-sharp fa-solid fa-circle-plus"routerLink="/"></i>
              <i class="fa-solid fa-eye" routerLink="/"></i>
            </td>
          <tr>
            <th>José Pérez</th>
            <td>XXXXXXXX</td>
            <td>999222555</td>
            <td>Empresa</td>
            <td><i class="fa-sharp fa-solid fa-circle-plus"routerLink="/"></i>
              <i class="fa-solid fa-eye" routerLink="/"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button (click)="volver()" class="btn btn-secondary btn-lg float-start">VOLVER</button>
</div>
