<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span >SOLICITAR CITA</span>
                    <form class="mt-3" [formGroup]="citaForm" (submit)="crearCita()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre"
                                class="form-control form-control-lg" placeholder="Nombres y Apellidos">
                                <div class="text-danger"
                                    *ngIf="citaForm.get('nombre')?.hasError('required') && citaForm.get('nombre')?.touched">
                                    <span>El Nombre <strong>es obligatorio</strong></span>
                                </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="numero"
                                class="form-control form-control-lg" placeholder="Numero">
                                <div class="text-danger"
                                    *ngIf="citaForm.get('numero')?.hasError('required') && citaForm.get('numero')?.touched">
                                    <span>El Numero <strong>es obligatorio</strong></span>
                                </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="email"
                                class="form-control form-control-lg" placeholder="Email">
                                <div class="text-danger"
                                    *ngIf="citaForm.get('email')?.hasError('required') && citaForm.get('email')?.touched">
                                    <span>El Email <strong>es obligatorio</strong></span>
                                </div>
                        </div>
                        <div class="input-group flex-nowrap align-items-center">
                            <label class="pe-3">Tipo de Cliente</label>
                            <select type="text" class="form-select" aria-label="Default select example" formControlName="tipos"
                                [(ngModel)]="cita.tipos">
                                <option *ngFor="let tipo of tipo_cliente" [value]="tipo.tipo">{{tipo.tipo}}</option>
                            </select>
                            <div class="text-danger"
                                    *ngIf="citaForm.get('tipos')?.hasError('required') && citaForm.get('tipos')?.touched">
                                    <span>El Tipo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/Pagina_Cliente" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="citaForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>