<div class ="row">
  <div class=" col-3">
    <div class="bg-success">Lista de clientes</div>
  </div>
  <div class=" col-9">
    <div>
      <div class= "container mt-4">
        <span class="h3">GERENTE VISUALIZAR ESPECIALISTA</span>

        <div class="card card-body">
          Especialista
        </div>



        <div class="card">
          <div class="card-body">
            <span class="h4">Estudios asignados</span>
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Hora de inicio</th>
                  <th>Hora de fin </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Álvaro Fernandez</th>
                  <td>06/03/2023</td>
                  <td>08:00pm</td>
                  <td>08:45pm</td>
                </tr>
                <tr>
                  <th>Frank Ayala</th>
                  <td>07/03/2023</td>
                  <td>09:00pm</td>
                  <td>09:45pm</td>
                <tr>
                  <th>José Pérez</th>
                  <td>08/03/2023</td>
                  <td>10:00pm</td>
                  <td>10:45pm</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>







    </div>
  </div>

</div>




