<app-principal></app-principal>
<section class="content">
  <div class="target">
      <h1>Registro</h1>
      <hr>
      <form (submit)="signUp()">
          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class='bx bx-user'></i></span>
              <input type="text" [(ngModel)]="user.nombre" name="firstname" class="form-control" placeholder="Nombre" required autofocus>
          </div>
          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class='bx bx-user'></i></span>
              <input type="text" [(ngModel)]="user.apellido" name="lastname" class="form-control" placeholder="Apellido" required>
          </div>
          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class='bx bx-envelope' ></i></span>
              <input type="text" [(ngModel)]="user.correo_electronico" name="email" class="form-control" placeholder="Correo electrónico" required>
          </div>
          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class='bx bx-phone' ></i></span>
              <input type="text" [(ngModel)]="user.celular" name="phone" class="form-control" placeholder="Número de Teléfono" required>
          </div>

          <div class="input-group flex-nowrap align-items-center">
                <span class="pe-3">Tipo de documento</span>
                <!-- <select class="form-select" aria-label="Default select example" [(ngModel)]="user.document_type"> -->
                <select class="form-select" aria-label="Default select example" [(ngModel)]="user.tipo_cliente" [ngModelOptions]="{standalone: true}">
                    <!-- <option selected>Seleccionar</option> -->
                    <!-- <option *ngFor="let tipo of tipo_cliente" [value]="tipo.codigo">{{tipo.nombre}}</option> -->
                    <option *ngFor="let tipo of tipo_cliente" [value]="tipo.tipo">{{tipo.tipo}}</option>
                </select>
            </div>
              <div class="input-group flex-nowrap" *ngIf="user.tipo_cliente==='Persona'">
                  <span class="input-group-text" id="addon-wrapping"><i class='bx bx-id-card' ></i></span>
                  <input type="text" [(ngModel)]="user.dni" name="document_number" class="form-control" placeholder="Número de documento" required>
              </div>
              <div class="input-group flex-nowrap" *ngIf="user.tipo_cliente==='Empresa'">
                <span class="input-group-text" id="addon-wrapping"><i class='bx bx-id-card' ></i></span>
                <input type="text" [(ngModel)]="user.ruc" name="ruc_number" class="form-control" placeholder="RUC" required>
              </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class='bx bx-id-card' ></i></span>
          <input type="text" [(ngModel)]="user.direccion" name="direction" class="form-control" placeholder="Direccion" required>
      </div>
          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class='bx bx-key' ></i></span>
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
          </div>
          <!-- <button type="submit" class="btn btn-primary">Registrar</button> -->
          <button type="button" class="btn btn-primary" (click)="signUp()">Registrar</button>
      </form>
      <!-- <p>¿Ya tienes una cuenta? <a href="">Inicia Sesión aquí</a></p> -->
  </div>
</section>
