<div class ="row">
  <div class=" col-3">
    <div class="bg-success">Lista de clientes</div>
  </div>
  <div class=" col-9">
    <div>
      <div class= "container mt-4">
        <span class="h3">GERENTE ASIGNAR ESPECIALISTA</span>

        <div class="card">
          <div class="card-body">
            <span class="h4">Cliente</span>
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>DNI</th>
                  <th>Celular</th>
                  <th>Tipo</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Álvaro Fernandez</th>
                  <td>XXXXXXXX</td>
                  <td>999222333</td>
                  <td>Empresa</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




    </div>

    <div class="container my-3 bg-light">
      <div class="col-md-12 text-center">


      </div>


      <div class="col-md-12 text-center">

        <p>Fecha Hora Especialista</p>
  <input type="text" class="form-input basic" placeholder="">
  <input type="text" class="form-input basic" placeholder="">
  <input type="text" class="form-input basic" placeholder="">
  <button type="button" class="btn btn-success">Consultar disponibilidad</button>




    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">Volver</button>
      <button type="button" class="btn btn-success">Asignar</button>
  </div>




  </div>






