
    <button class="iniciar-sesion-btn">
      <a href="/Iniciar_Sesion"> Iniciar Sesion</a>
    </button>

    <button class="registrarse-btn">
      <a href="/Crear_Usuario"> Registrarse</a>
    </button>

  <div class="contenedor">
  <img src="http://imgfz.com/i/O3hp5AP.jpeg" class="img-contenedor">
      <div class="contenido">
        <p class="Texto1">Empresa de seguridad para el hogar, negocio e industria</p>
        <p class="Texto2">Protege a los que mas quieres o las instalaciones de tu negocio con la tecnología más eficaz y segura del mercado</p>
        <button class="solicitar-cotizacion">
          <a href="/Iniciar_Sesion">Solicitar una Cotización </a>
        </button>
        
      </div>
  </div>

  <div class="image-grid">
    <div class="image-container">
      <img src="http://imgfz.com/i/dPocvL7.png" alt="Image 1">
      <p class="image-title">Sobre Nosotros</p>
      <p class="image-caption">Somos una empresa con larga trayectoria profesional. Nos dedicamos a la instalación de sistemas de seguridad, alarmas, control de acceso y cámaras de vigilancia.</p>
    </div>
    <div class="image-container">
      <img src="http://imgfz.com/i/5aRjPWd.png" alt="Image 2">
      <p class="image-title">Servicios</p>
      <p class="image-caption">Te ofrecemos una selección de servicios. Podrás encontrar soluciones en sistemas de seguridad y vigilancia para tu empresa, negocio o tu hogar. Queremos que estés tranquilo.</p>
    </div>
    <div class="image-container">
      <img src="http://imgfz.com/i/aslqmOE.png" alt="Image 3">
      <p class="image-title">Misión</p>
      <p class="image-caption">Nuestro objetivo es velar por tu seguridad y la de los tuyos. Somos profesionales que trabajan para ofrecer los sistemas más seguros para garantizar la protección de empresas y hogares.</p>
    </div>
  </div>

  <div class="card-container">
    <h2 class="section-title">Nuestros Servicios</h2>
    

  <div class="row">

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Niebla de Seguridad</h3>
        <p class="card-description">Este sistema hará que el ladrón detenga su actividad en cuestión de segundos.</p>
        <img src="http://imgfz.com/i/rfiZjSJ.png" alt="Card Image">
        <a href="/niebla-de-seguridad" class="card-button">Ver más ➔ </a>
      </div>
    </div>
    
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Control de Accesos sin Llave</h3>
        <p class="card-description">Permite autorizar y gestionar el ingreso a un lugar sin la necesidad de utilizar llaves físicas. </p>
      <img src="http://imgfz.com/i/HX0dMkO.png" alt="Card Image">
        
        <a href="/control-de-accesos-sin-llave" class="card-button">Ver más ➔</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Alarmas Contra Incendios</h3>
        <p class="card-description">Sistemas de prevención para actuar frente siniestros que puedan causar daños físicos.</p>
        <img src="http://imgfz.com/i/Kts8qoZ.png" alt="Card Image">
        <a href="/alarmas-contra-incendios" class="card-button">Ver más ➔</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Circuito Cerrado de Televisión</h3>
        <p class="card-description">Permite que las empresas tengan un major control de la seguridad en sus negocios.</p>
        <img src="http://imgfz.com/i/Gq06CwN.png" alt="Card Image">
        <a href="/circuito-cerrado-de-television" class="card-button">Ver más ➔</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Reconocimiento Facial</h3>
        <p class="card-description">Detecta el rostro de las personas gracias a la cámara integrada en el lector.</p>
        <img src="http://imgfz.com/i/PVQF9XT.png" alt="Card Image">
        <a href="/reconocimiento-facial" class="card-button">Ver más ➔</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Cámaras Termográficas</h3>
        <p class="card-description">Usada para detección de fiebre, capacidad de medición entre 4 a 9m de distancia.</p>
        <img src="http://imgfz.com/i/QPWLYFz.png" alt="Card Image">
        <a href="/camaras-termograficas" class="card-button">Ver más ➔</a>
      </div>
    </div>

  </div>
</div>
  
  <div class="slides">
    <div class="slide">
      <div class="testimonial">
        <div class="newsletter-title">¿Qué Opinan Nuestros Clientes?</div>
        <div class="stars">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
        <p class="testimonial-text">Empresa profesional y seria como la copa de un pino. Servicio 100%, eficacia, puntualidad y trato inmejorable. Una gran experiencia y suerte de tener cerca a un gran equipo como el que ellos forman. Sin duda lo recomendaré.Gracias por lo bien que lo hacéis y por ser perfeccionistas.</p>
        <p class="testimonial-author">- José García</p>
        
      </div>
      </div>
      </div>
      
  
      <div class="newsletter">
        <h2 class="newsletter-title">Suscríbete a Nuestro Newsletter</h2>
        <p class="newsletter-description">Sé el primero en enterarte de descuentos, ofertas y eventos semanales en tu correo. Date de baja cuando quieras con un solo click.</p>
        <form class="newsletter-form">
          <input class="newsletter-input" type="email" placeholder="Ingresa tu correo" required>
          <button class="newsletter-button" type="submit">Suscribirme</button>
        </form>
      </div>


      <h1 class="map-title">Nos encontramos en: Av. Pedro Silva Nro. 319 Urb. San Juan (Zona B) Lima - Lima - San Juan De Miraflores</h1>
      <div id="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.174666992623!2d-76.97778352384795!3d-12.168508844181675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b852723e095f%3A0x8511c0a22321f56d!2sAv.%20Pedro%20Silva%20319%2C%20Lima%2015801!5e0!3m2!1ses!2spe!4v1686113495397!5m2!1ses!2spe" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>




