<app-principal></app-principal>
  <br>
    <br>
      <br>
        <br>
          <br>
  <div class="contenedor">
  <img src="../../../assets/Security-Cameras-Desktop.jpg" class="imagen-encabezado">
      <div class="Cuadrado">
        <p class="Texto1">¡COTIZE AHORA!</p>
        <a href="/Inicio_Sesion" class="Referencia1"> <div class="Cuadrado2">¡COTIZAR AHORA!</div> </a>
        <p class="Texto4">¡No pierda la oportunidad de evitar perder lo que mas aprecia!</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
